:root {
  --text-color: white;
  --bg-img: linear-gradient(to right, #97ead2, #8cc7a1);
  --btn-width: 120px;
  --btn-height: 30px;
  --btn-width-hover: 130px;
  --btn-height-hover: 40px;
  --btn-col: rgba(0, 0, 0, 0);
  --btn-col-hover: white;
  --btn-tran-sec: .6s;
}

img {
  width: 300px;
  height: 300px;
}

img {
  border-radius: 6%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--text-color);
  font-optical-sizing: auto;
  font-weight: 500;
  text-align: center;
  background: var(--bg-img) top center/cover;
}

body p {
  font-size: 130%;
}

body h1 {
  font-size: 120%;
}

body h2 {
  text-decoration: underline white;
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

body p {
  white-space: pre;
}

#buttons-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  left: 0;
  bottom: 20px;
  position: fixed;
  gap: 20px;
}

.button {
  border-radius: 6%;
  border: 1px solid white;
  background: var(--btn-col);
  cursor: pointer;
  width: var(--btn-width);
  height: var(--btn-height);
  line-height: var(--btn-height);
  transition: all var(--btn-tran-sec);
}


.button:hover {
  background: var(--btn-col-hover);
  width: var(--btn-width-hover);
  border: none;
  height: var(--btn-height-hover);
  color: black;
  line-height: var(--btn-height-hover);
  font-weight: bold;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35);
}
